.blog-post {
  padding: 20rem 0;
  background-color: lighten($color-primary, 30%);
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  -moz-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  -ms-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);

  @include sm {
    margin: 1rem;
  }

  & > h3 {
    text-align: right;
    margin: 0 2rem 2rem 0;
    font-size: 3rem;

    @include lg {
      text-align: left;
      margin: 0 0 2rem 0;
    }
  }

  &__teaser {
    display: flex;
    flex-direction: row;

    @include lg {
      flex-direction: column;
    }
  }

  &__sideline {
    &--left {
      flex: 1;
    }
    &--right {
      flex: 0;
    }
  }

  &__description {
    flex: 2;
    padding: 0 3rem;
    align-self: flex-start;

    h3 {
      color: $color-wet-asphalt;
    }
  }

  &__visual {
    flex: 4;

    @include lg {
      flex: 1;
    }

    img {
      width: 100%;
      box-shadow:
        0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
    }
  }
}

.blog-post-brief {
  $self: &;
  display: flex;

  @include sideline-right-wide($self);

  &__text {
    flex: 3;
    display: flex;
    flex-direction: column;

    padding: 0 3rem;

    & > div {
      margin-bottom: 1rem;
      color: $color-white;
    }

    #{$self}__header {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .title {
        flex: 1 1 100%;

        h3 {
          font-size: 2.8rem;
          color: $color-wet-asphalt;
        }
      }

      .author {
        flex: 1;

        span {
          font-size: 1.7rem;
        }
      }

      .date {
        flex: 1;
        align-self: flex-start;
        text-align: right;

        time {
          font-size: 1.7rem;
        }
      }
    }

    #{$self}__summary {
      flex: 0 1 auto;

      p {
        font-size: 1.6rem;
      }
    }

    #{$self}__categories {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      h4 {
        color: lighten($color-primary-dark, 10%);
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 1rem;
      }

      a {
      }
    }
  }

  &__image {
    flex: 4;
    order: $splash-image-right-side;

    img {
      width: 100%;
      box-shadow:
        0 15px 30px 0 rgba(0,0,0,0.11),
        0 5px 15px 0 rgba(0,0,0,0.08);
    }
  }

}