* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

main {
  // padding: 0 3rem;
}


section.splash--right {
  @include splash-left-wide; // clip-path wider on right
}

section.splash--left {
  @include splash-right-wide; // clip-path wider on right
}