.about {
  $self: &;
  display: flex;

  &__sideline {
    flex: 2;

    @include lg {
      flex: 0;
    }
  }

  &__content {
    flex: 6;

    @include xl {
      flex: 12;
    }

    @include lg {
      margin: 0 5rem;
    }

    @include md {
      margin: 0 3rem;
    }

    @include sm {
      margin: 0 1rem;
    }

    #{$self}__header {
      h1 {
        color: $color-wet-asphalt;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }

    #{$self}__text {
      p {
        margin-bottom: 2rem;
      }

      h4 {
        color: $color-wet-asphalt;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 1rem;
        margin: 3.5rem 0 1rem;
        border-top: 1px solid lighten(#555, 60%);
        overflow: hidden;
      }

      figure {
        display: block;
        float: left;
        margin: 1rem 3rem 1rem 0;
        width: 30rem;
        border: 1px solid lighten($color-black, 75%);
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          width: 100%;
        }

        figcaption {
          background-color: lighten($color-wet-asphalt, 15%);
          font-size: 1.4rem;
          color: $color-white;
          padding: 0.9rem 1rem 0.8rem;
          margin-top: -5px;
        }
      }

      aside {
        display: block;
        float: right;
        margin-left: 3rem;
        width: 30rem;
        border: 1px solid lighten($color-black, 75%);
        border-radius: 0.5rem;
        overflow: hidden;
        color: $color-wet-asphalt;
        background-color: lighten($color-primary-dark, 80%);

        h5 {
          margin: 1rem 2rem;
        }

        ul {
          list-style-type: circle;
          margin: 0 0 2rem 4rem;
          font-size: 1.5rem;
        }
      }
    }    
  }
}