footer
  .footer__container
    .footer__section.footer__section--logo
    .footer__section.footer__section--sitemap
    .footer__section.footer__section--social-media
    .footer__section.footer__section--placeholder

  script(src="scripts/nav.js")