header.site
  span#navbar-toggle
    i.fas.fa-bars
  .logo
    a(href="/")
      img(src="img/logo-text.png")
    //- h1 Developer Portfolio Website
  nav#main-nav
    a(href="#").true-link Portfolio
    a(href="#").true-link Blog
    a(href="about.html").true-link About Me
    a(href="contact.html").true-link Contact