extends layouts/layout-default.pug

block content
  section.blog-list

    .blog-list__header
      .blog-list__header--sideline
      h1 All Blog Posts
      .blog-list__header--sideline

    article.blog-entry
      .blog-entry__sideline--left
      .blog-entry__text
        header.blog-entry__header
          .title
            h3
              a(href="blog-post.html") Jekyll for Web Developers
          .date
            time Nov. 28, 2018
          .author
            span by 
              a(href="#") Bob Cobb
        section.blog-entry__summary
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ullam earum sunt alias maiores veniam iure, ipsa, libero eveniet sit vero ab. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt qui illo incidunt explicabo totam? Deserunt, minima recusandae.
        section.blog-entry__categories--title
          h4 Categories
        section.blog-entry__categories--links
          a(href="#") Javascript
          a(href="#") HTML
          a(href="#") CSS
          a(href="#") Sass
      .blog-entry__visual
        img(src="img/stock-2.jpg")
      .blog-entry__sideline--right

    article.blog-entry
      .blog-entry__sideline--left
      .blog-entry__text
        header.blog-entry__header
          .title
            h3
              a(href="#") Jekyll for Web Developers
          .date
            time Nov. 28, 2018
          .author
            span by 
              a(href="#") Bob Cobb
        section.blog-entry__summary
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ullam earum sunt alias maiores veniam iure, ipsa, libero eveniet sit vero ab. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt qui illo incidunt explicabo totam? Deserunt, minima recusandae.
        section.blog-entry__categories--title
          h4 Categories
        section.blog-entry__categories--links
          a(href="#") Javascript
          a(href="#") HTML
          a(href="#") CSS
          a(href="#") Sass
      .blog-entry__visual
        img(src="img/stock-2.jpg")
      .blog-entry__sideline--right

    article.blog-entry
      .blog-entry__sideline--left
      .blog-entry__text
        header.blog-entry__header
          .title
            h3 
              a(href="#") Jekyll for Web Developers
          .date
            time Nov. 28, 2018
          .author
            span by 
              a(href="#") Bob Cobb
        section.blog-entry__summary
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ullam earum sunt alias maiores veniam iure, ipsa, libero eveniet sit vero ab. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt qui illo incidunt explicabo totam? Deserunt, minima recusandae.
        section.blog-entry__categories--title
          h4 Categories
        section.blog-entry__categories--links
          a(href="#") Javascript
          a(href="#") HTML
          a(href="#") CSS
          a(href="#") Sass
      .blog-entry__visual
        img(src="img/stock-2.jpg")
      .blog-entry__sideline--right