extends layouts/layout-default.pug

block content
  section.hero
    .hero__sideline
    .hero__welcome
      h1 Robert Laws
      h2 Web/UX/Designer
      .hero__portrait
        img(src="img/rdl.jpg")
      p Apiring web developer who also dabbles in web & UX design. Searching for new challenges and always pushing my limits.
      .hero__callout
        .hero__button
          button Contact
    .hero__image
    .hero__sideline



  section.splash--right
    article.project-brief
      .project-brief__sideline--left
      .project-brief__text
        .project-brief__header
          .title
            h3 Project Title
          .date
            time May 2018
        .project-brief__description
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga dolores magni iure vero, illo voluptatum expedita ipsam nemo ea id. Debitis nostrum hic quam dolore, odit eos numquam.
        .project-brief__features
          h4 Top Features
          ul
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .project-brief__technologies
          h4 Tech-Stack
          a(href="#") Ruby on Rails
          a(href="#") Materialize CSS
          a(href="#") SQL
        .project-brief__link
          a(href="#") Read More
      .project-brief__image
        img(src="img/stock-square-2.jpg")
      .project-brief__sideline--right

  section.project-preview
    article.project-preview__teaser
      .project-preview__sideline--left
      .project-preview__description
        h3 Developer Portfolio
        p Easy hosting and content creation
        .metadata
          time November 2018
          .tech-stack Jekyll, Sass
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias qui nostrum quasi pariatur similique eveniet veritatis harum aliquid id sequi.
      .project-preview__visual
        img(src="img/stock-2.jpg")
      .project-preview__sideline--right

  section.splash--left
    article.blog-post-brief
      .blog-post-brief__sideline--left
      .blog-post-brief__text
        .blog-post-brief__header
          .title
            h3 Blog Post Title
          .author
            span by Bob Cobb
          .date
            time Nov. 28, 2018
        .blog-post-brief__summary
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ullam earum sunt alias maiores veniam iure, ipsa, libero eveniet sit vero ab.
        .blog-post-brief__categories
          h4 Categories
          a(href="#") Javascript
          a(href="#") HTML
          a(href="#") CSS
          a(href="#") Sass
      .blog-post-brief__image
        img(src="img/blog-square.jpg")
      .blog-post-brief__sideline--right

  section.blog-post
    article.blog-post__teaser
      .blog-post__sideline--left
      .blog-post__description
        h3 Pug (Jade) for Quick HTML
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga aliquam placeat corporis nobis officiis vero.
      .blog-post__visual
        img(src="img/stock-3.jpg")
      .blog-post__sideline--right

  //- +projectPreview('Dog Daycare', 'Online reservations', 'May 2018', 'Ruby on Rails', 'img/as-small.jpg', 'project image')
  //-   | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore, dolorem omnis aspernatur temporibus quaerat totam sunt facilis sapiente dolore.
