extends layouts/layout-default.pug

block content
  section.introduction
    article.intro
      h1 Welcome to the website
      h2 Site Tagline
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam nam praesentium optio numquam deleniti voluptate, porro eum earum aspernatur harum iusto corporis?
      .callout
        button Click Here

  section.project-preview
    article.project-preview__teaser
      .project-preview__description
        h3 Latest Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias qui nostrum quasi pariatur similique eveniet veritatis harum aliquid id sequi.
      .project-preview__visual
        img(src="img/stock-2.jpg")

  section.blog-post
    article.blog-post__teaser
      .blog-post__description
        h3 Most Recent Blog Post
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga aliquam placeat corporis nobis officiis vero.
      .blog-post__visual
        img(src="img/stock-3.jpg")

  +projectPreview('Dog Daycare', 'Online reservations', 'May 2018', 'Ruby on Rails', 'img/as-small.jpg', 'project image')
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore, dolorem omnis aspernatur temporibus quaerat totam sunt facilis sapiente dolore.
