extends layouts/layout-default.pug

block content
  section.introduction
    article.intro
      h1 Welcome to the website
      h2 Site Tagline
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam nam praesentium optio numquam deleniti voluptate, porro eum earum aspernatur harum iusto corporis?
      .callout
        button Click Here

  section.project
    article.project-teaser
      .description
        h3 Latest Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias qui nostrum quasi pariatur similique eveniet veritatis harum aliquid id sequi.
      .visual
        img(src="img/stock-2.jpg")

  section.blog-post
    article.blog-post-teaser
      .description
        h3 Most Recent Blog Post
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga aliquam placeat corporis nobis officiis vero.
      .visual
        img(src="img/stock-3.jpg")