extends layouts/layout-default.pug

block content
  section.project-detail
    .project-detail__sideline
      aside.project-detail__side-nav
        h3 Project Navigation
        ul
          li 
            a(href="#project-introduction").scroll Introduction
          li 
            a(href="#project-ux-research").scroll UX Research
          li 
            a(href="#project-ux-design").scroll UX Design
          li 
            a(href="#project-information-architecture").scroll Information Architecture
    .project-detail__content
      header.project-detail__header
        .project-detail__title
          h1 Dog Daycare
        .project-detail__date
          time May 2018
      article.project-detail__text
        h2#project-introduction Introduction
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam earum neque eaque cum doloremque obcaecati laborum excepturi modi! Animi ipsa ex perspiciatis quibusdam expedita fugit, facere, omnis at unde officia officiis ipsam consequuntur? Quibusdam facilis rem explicabo aut commodi in, ab exercitationem reiciendis excepturi inventore veniam neque incidunt distinctio voluptates.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora ab illum itaque temporibus, eaque harum ut doloribus explicabo qui consequatur sequi ullam minus modi iste excepturi adipisci aut repellendus blanditiis assumenda voluptates asperiores corrupti, repudiandae fuga. Sed eius ex aliquam sequi, repellendus modi atque laboriosam consectetur omnis vero, itaque suscipit quod numquam nihil! Praesentium, quo!
        figure
          img(src="img/stock-2.jpg")
          figcaption Project Visual
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, facilis pariatur aspernatur perspiciatis rem facere mollitia magni officiis veritatis, consectetur culpa. Vel rem veniam molestiae corporis ea numquam suscipit repudiandae.
        h2#project-ux-research UX Research
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae dolorem eos nulla ex error velit accusantium quam, corporis ab!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iusto sed optio impedit incidunt quisquam velit cupiditate facilis, maxime amet, ducimus repellendus deserunt illum iste, pariatur veritatis consectetur similique dolorem! Nihil, cum fuga? Cumque, nulla inventore. Nulla, enim alias ad illum nemo aperiam sint amet quasi unde. Illum laudantium velit eos, fugiat, amet, numquam hic tenetur repellendus corporis commodi ab!
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga itaque libero aliquid molestias officiis suscipit autem dolore doloremque alias totam consequuntur porro amet tenetur atque, quam impedit iste. Laudantium, exercitationem?
        h2#project-ux-design UX Design
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est cum dicta velit tempore. Vel recusandae aspernatur itaque veniam iure sit maiores impedit harum! Quibusdam quam amet non? Voluptates, harum numquam.
        figure
          img(src="img/stock-2.jpg")
          figcaption Project Visual Two
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eos ipsum facilis itaque eveniet in tempore vitae praesentium temporibus corrupti nobis mollitia saepe expedita neque porro excepturi, odit dignissimos. Eius numquam excepturi nostrum architecto illo fugiat unde reiciendis consectetur sapiente?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vero iusto tempore voluptate unde, voluptatum quam ab. Dolorum eaque quia, possimus tempora at saepe nisi eos delectus impedit eveniet. Deleniti?
        h2#project-information-architecture Information Architecture
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam sed esse, nemo totam maiores eius voluptatibus illum sint asperiores laborum architecto ducimus expedita libero omnis recusandae! Reprehenderit aspernatur facilis et delectus earum sequi repellat quae recusandae, impedit voluptates?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quidem perspiciatis est. Qui aperiam deleniti cum neque nemo incidunt maxime nobis blanditiis natus sint commodi veritatis rem cumque ducimus ex, quo at voluptatum asperiores ratione fuga animi dolorem reiciendis. Voluptate placeat aperiam nisi.
        figure
          img(src="img/stock-2.jpg")
          figcaption Project Visual Three
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis officiis, animi aperiam itaque facere corporis quod id accusantium suscipit delectus alias. Accusantium impedit mollitia incidunt minima! Quos, deserunt unde.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam reiciendis aliquid ad sed placeat quae id atque corporis autem quasi rem officia consequatur alias omnis quia nemo, porro quam iure quas, quos eligendi voluptate, esse soluta? Commodi beatae non laboriosam!
    .project-detail__sideline
