extends layouts/layout-default.pug

block content
  section.project-list

    .project-list__header
      .project-list__header--sideline
      h1 All Project
      .project-list__header--sideline

    article.project-entry
      .project-entry__sideline--left
      .project-entry__text
        .project-entry__header
          .title
            h3 
              a(href="project-detail.html") Project Title
          .date
            time May 2018
        .project-entry__description
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga dolores magni iure vero, illo voluptatum expedita ipsam nemo ea id.
        .project-entry__features
          h4 Top Features
          ul
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .project-entry__technologies-title
          h4 Tech-Stack
        .project-entry__technologies-links
          a(href="#") Ruby on Rails
          a(href="#") Materialize CSS
          a(href="#") SQL
      .project-entry__visual
        img(src="img/stock-2.jpg")        
      .project-entry__sideline--right

    article.project-entry
      .project-entry__sideline--left
      .project-entry__text
        .project-entry__header
          .title
            h3 
              a(href="#") Project Title
          .date
            time May 2018
        .project-entry__description
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga dolores magni iure vero, illo voluptatum expedita ipsam nemo ea id.
        .project-entry__features
          h4 Top Features
          ul
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            li Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .project-entry__technologies-title
          h4 Tech-Stack
        .project-entry__technologies-links
          a(href="#") Ruby on Rails
          a(href="#") Materialize CSS
          a(href="#") SQL
      .project-entry__visual
        img(src="img/stock-2.jpg")        
      .project-entry__sideline--right