extends layouts/layout-default.pug

block content
  section.resume
    .resume__sideline
    .resume__content
      .resume__header
        .resume__name
          h2 Robert Laws
        .resume__contact
          .resume__contact--phone
            i.fas.fa-phone +974 4457-8315
          .resume__contact--envelope
            i.fas.fa-envelope rdl27@georgetown.edu
          .resume__contact--globe
            i.fas.fa-globe-americas robdlaws.com
          .resume__contact--marker
            i.fas.fa-map-marker-alt Doha, Qatar

    .resume__sideline