doctype html
html
  head
    title Developer Portfolio Website
    include ../includes/head.pug
  body
    include ../mixins/project-preview.pug
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug