header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 0 2rem;

  display: flex;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    background-color: $color-white;
    z-index: 10;

    @include sm {
      align-items: center;
      justify-content: center;
    }

    transition: opacity 0.2s ease-in 0.1s;

    &:hover {
      opacity: 0.9;      
    }

    h1 {
      align-self: center;
    }

    img {
      padding: 1rem;
      height: 75px;
      
    }
  }

  nav {
    align-self: center;
    margin-right: 0.5rem;
    font-size: 1.6rem;
    display: flex;
    // background-color: #FF0;

    @include sm {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-right: 0px;
    }
    
    a {
      color: #555;
      font-weight: bold;
      margin: 2.5rem;
      text-decoration: none;
      display: inline-block;
      position: relative;
      transition: color 0.25s ease-out 0.1s;

      &:first-child {
        align-self: flex-end;
        display: none;

        & ~ .true-link {
          transition: transform 0.2s linear;
        }

        @include sm {
          display: inline-block;

          &:hover ~ .true-link {
            transform: translateY(0rem);
          }
        }        
      }

      &:not(:first-child) {
        // display: none;
        // 

        @include sm {
          transform: translateY(-25rem);
          display: inline-block;
        }        
      }

      @include sm {
        margin: 1rem;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #F00;
        transition: width 0.2s ease-out 0.1s;
      }

      &:hover {
        color: #F00;
      
        &::after { 
          width: 100%;
        }
      }
    }
  }
}
