header {
  display: flex;
  justify-content: space-between;
  background-color: darken($color-primary, 22%);

  .logo {
    display: flex;
    align-items: flex-start;

    h1 {
      align-self: center;
    }

    img {
      padding: 12px;
      width: 50px;
    }
  }

  nav {
    align-self: center;
    margin-right: 12px;
    
    a {
      color: #FFF;
    }

    a:link {
      margin: 24px;
      text-decoration: none;
    }
  }
}
