main {
  // max-width: 100hw;
  max-width: 150rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  section {
    margin: 4rem 0;

    @include sm {
      margin: 1rem;
    }
  }
}

article {
  display: flex;
  
  &.intro {
    width: 100rem;
    margin: 0 auto;
    flex-direction: column;

    @include sm {
      width: 100%;
    }

    button {
      padding: 1.4rem 2.4rem;
      margin: 1.5rem 0;
      font-size: 1.6rem;
      background-color: darken($color-primary, 25%);
      font-weight: 500;
      color: #FFF;
      border: none;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.1);
        transform: translateY(-0.2rem);
      }

      &:active {
        box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.1);
        transform: translateY(-0.1rem);
      }
    }
  }

  &.project-teaser {
    flex-direction: row-reverse;
  }

  &.blog-post-teaser {
    flex-direction: row;
  }

  div.description {
    flex: 1;
    padding: 3rem;
    align-self: center;
  }
  
  div.visual {
    flex: 2;
  }
}

.visual {
  img {
    width: 100%;
    box-shadow:
      0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
  }
}